@import "src/styles/abstracts/_variables.scss";

.mainpage__btn--reset {
  background: $accent-yellow;
  color: $white;
}

.mainpage__btn--stop {
  background: $accent-red;
  color: $white;
}

.mainpage__btn--lab {
  background: $accent-green;
  color: $white;
}

.mainpage__btn--start {
  background: $base-blue;
  color: $white;
}
