@import "src/styles/abstracts/_variables.scss";
@import "src/styles/abstracts/_mixin.scss";

.t__clocklayout__container {
  min-height: 90vh;
  width: 100%;
  min-width: $max-width;
  @include responsive--breakpoint($tablet-landscape-min) {
    max-height: 100px;
    min-width: 100%;
  }
  overflow-x: hidden;
  button:not(:last-child) {
    margin-right: 10px;
  }
  .t__clocklayout__content {
    height: 100%;

    padding: $display-padding;
    font-family: $watch-font-stack;
    overflow-y: auto;
    .t__clocklayout__panel {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 300px;
      @include responsive--breakpoint($tablet-portrait-max) {
        margin-top: 100px;
      }
      span {
        margin-bottom: 20px;
      }
    }
    .t__clocklayout__subs {
      margin-top: $display-content-margin;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
