@import "src/styles/abstracts/_variables.scss";
@import "src/styles/abstracts/_mixin.scss";

.t__clocklayout__container {
  min-height: 100vh;
  width: 100%;
  @include responsive--breakpoint($tablet-landscape-min) {
    max-height: 100px;
    min-width: 100%;
  }
  overflow-x: hidden;
  .t__clocklayout__title {
    color: $light-grey;
    opacity: 0.6;
    font-size: $font-size-lg;
    margin-bottom: $display-lg-margin;
    @include responsive--breakpoint($tablet-landscape-min) {
      font-size: $font-size-base;
    }
  }
  .t__clocklayout__btn {
    margin-right: 10px;
  }
  .t__clocklayout__content {
    height: $template-content-height;
    padding: $display-padding;
    overflow-y: auto;
    .t__clocklayout__panel {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 300px;
      @include responsive--breakpoint($tablet-portrait-max) {
        margin-top: 100px;
      }
      span {
        margin-bottom: 20px;
      }
    }
    .t__clocklayout__subs {
      margin-top: $display-content-margin;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
