@mixin btn--base {
  display: inline-block;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  word-spacing: normal;
  margin: 0;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
