/// Regular font family & size
/// @type List
$base-font-stack: "Source Serif Pro", serif, sans-serif, "Open Sans", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial" !default;
$watch-font-stack: "Digital7", "Open Sans", "Helvetica Neue Light", "Helvetica", "Arial" !default;
$base-font-size: 16 !default;
$watch-font-size: 12rem;

/// Light grey
/// @type Color
$white: #ffffff;
$black: #000000;
$blue: #0073aa;
$medium-blue: #00a0d2;
$clear: transparent;
$modal-overlay: rgba(0, 0, 0, 0.16);

$accent-red: #dc3232;
$accent-orange: #f56e28;
$accent-yellow: #ffb900;
$accent-green: #46b450;
$accent-blue: $blue;
$accent-purple: #826eb4;

$base-grey: #23282d;
$light-grey: #bbc8d4;
$bright-grey: #eaeff3;
$heavy-grey: #37444c;
$dark-grey: #32373c;
$ultra-grey: #191f25;
$dark-silver: #50626f;
$base-blue: #2e74aa;
$light-blue: #4092d2;
$dark-blue: #2c5f88;
$ultra-blue: #1f3f58;
$bright-blue: #30ceff;
$light-red: #ff8484;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// padding & margin
$display-padding: 1rem;
$display-content-margin: 0.5rem;
$display-lg-margin: $display-content-margin * 2.25;

// some style
$base-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$base-border: 1px solid $base-grey;
$base-border-radius: 0.5rem;

// $font-size-sm effects the font size of the body text
$font-size-sm: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-base: 1.25rem !default;
$font-size-lg: 3rem !default;
$font-size-xlg: $font-size-sm * 4.25 !default;
$font-size-xxlg: $font-size-sm * 10.875 !default;

/* height */
$base-select-height: 40px;

/* responsive mixin */
$tablet-landscape-min: 1024px;
$tablet-portrait-min: 768px;
$tablet-portrait-max: ($tablet-landscape-min - 1); // 1023px
$phone-landscape-min: 480px;
$phone-landscape-max: ($tablet-portrait-min - 1); // 767px
$phone-portrait-max: ($phone-landscape-min - 1); // 479px
