@import "src/styles/abstracts/_variables.scss";

.timer__btn--reset {
  background: $accent-yellow;
  color: $white;
}

.timer__btn--stop {
  background: $accent-red;
  color: $white;
}

.timer__btn--start {
  background: $accent-green;
  color: $white;
}

.timer__btn--edit {
  background: $base-blue;
  color: $white;
}
