@import "src/styles/abstracts/_variables.scss";
@import "src/styles/abstracts/_mixin.scss";

.a__btn {
  @include btn--base;
  display: inline-block;
  border: 1px solid currentColor;
  border-radius: 4px;
  font-size: 14px;
}

.a__btn--full {
  @include btn--base;
  display: block;
  width: 100%;
}
