@import "src/styles/abstracts/_variables.scss";
@import "src/styles/abstracts/_mixin.scss";

.o__nav__container {
  background: $light-blue;
  padding: $display-padding;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: $nav-height;
  .o__nav__content--desktop {
    display: flex;
    @include responsive--breakpoint($phone-landscape-max) {
      display: none;
    }
  }
  .o__nav__content--mobile {
    @include responsive--breakpoint($phone-landscape-min) {
      display: none;
    }
  }
  .o__nav__link {
    color: $white;
    &:not(:last-child) {
      margin-right: $display-lg-margin;
    }
    @include hover--color--change($base-grey);
  }
}
