@import "src/styles/abstracts/_variables.scss";
@import "src/styles/abstracts/_mixin.scss";

.m__curtime__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $watch-font-stack;
  .m__curtime__meridiem {
    display: inline;
    font-size: $font-size-xlg;
    &.small {
      font-size: $font-size-sm;
    }
    &.lg {
      font-size: $font-size-lg;
    }
    @include responsive--breakpoint($phone-landscape-max) {
      font-size: $font-size-lg;
    }
  }
  .m__curtime__clock {
    font-size: $font-size-xxlg;
    @include responsive--breakpoint($tablet-portrait-max) {
      font-size: $font-size-xlg;
      margin: 0;
    }
    @include responsive--breakpoint($phone-landscape-max) {
      font-size: $font-size-lg;
    }
    &.small {
      font-size: $font-size-sm;
    }
    &.lg {
      font-size: $font-size-lg;
    }
  }
}
