@font-face {
  font-family: "Digital7";
  src: url("/fonts/digital-7_mono-webfont.woff") format("woff"),
    url("/fonts/digital-7_mono-webfont.svg#DS-Digital") format("svg"),
    url("/fonts/digital-7_mono-webfont.eot"),
    url("/fonts/digital-7_mono-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/digital-7_mono-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
